@model List<ManageUserRolesViewModel>

@{
    ViewData["Title"] = "Manage User Roles";
}

<h1>Manage User Roles</h1>

<table class="table">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Role</th>
            <th>Add/Remove</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>SuperUser@TombRadar.com</td>
            <td>SuperAdmin</td>
            <td>
                <input type="checkbox" />
            </td>
        </tr>
        <tr>
            <td>cdudley6@gmail.com.com</td>
            <td>Researcher</td>
            <td>
                <input type="checkbox" />
            </td>
        </tr>
        <tr>
            <td>ldsvmachado12@gmail.com</td>
            <td>Basic</td>
            <td>
                <input type="checkbox" />
            </td>
        </tr>
        <tr>
            <td>klintyk@byu.edu</td>
            <td>Admin</td>
            <td>
                <input type="checkbox" />
            </td>
        </tr>

    </tbody>
</table>

<div class="form-group">
    <button type="submit" class="btn btn-primary">Save</button>
</div>


