@model Microsoft.AspNetCore.Identity.IdentityUser

@{
    ViewData["Title"] = "Delete User";
}

<h1 class="text-white">Delete User</h1>

<h2 class="text-white">Are you sure you want to delete the user?</h2>

<form method="post" asp-controller="UserRoles" asp-action="DeleteUserConfirmed">
    <input type="hidden" name="userId" value="@Model.Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="UserRoles" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>



