@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Delete User";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string userId = Context.Request.Query["userId"];
}

<!--Create a page view to confirm deletion of a user-->
<h2 class="text-white">Confirm Deletion</h2>
<h3 class="text-white">Are you sure you want to delete this user?</h3>

<form method="post" asp-controller="UserRoles" asp-action="DeleteUser">
    <button type="submit">Delete</button>
    <a asp-controller="UserRoles" asp-action="Index" class="btn btn-info">Cancel</a>
    <input type="hidden" name="userId" value="@userId" />
</form>

