@{
    ViewData["Title"] = "Supervised Analysis";
}

<h1 class="text-white">Supervised Analysis and Predictions</h1>

<div style="background-color:dimgrey" class="container-fluid overflow-hidden my-5 px-lg-0">
    <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0">
            
            <div class=" about-text py-5 wow fadeIn" data-wow-delay="0.5s" style="text-align:center">
                <div class="p-lg-5 pe-lg-0">
                    <h1 class="display-5 mb-4">East or West?</h1>
                    <p class="mb-4 pb-2 text-white">Researchers have found that some mummies' heads are facing east, and some are facing west.</p>
                    <p class="mb-4 pb-2 text-white"> Using data that archeologists have collected, we have created a decision tree model that can predict which way a mummy's head is facing.</p>
                    <br />
                    <p class="fw-medium text-primary mb-0">
                        Most mummies in the dataset face east, with only a few facing west. Why? Could it be related to age?
                    </p>
                    <p class="fw-medium text-primary mb-0">Perhaps some geographic phenomenon, such as earthquakes have caused this. Or, maybe it is a cultural aspect of ancient Egyptian culture.</p>
                    <p class="fw-medium text-primary mb-0">Analyses of collected data and data exploration can help researchers discover more about history and answer questions like these.</p>
                </div>
            </div>
        </div>
    </div>
</div>