@{
    ViewData["Title"] = "Edit Textile";
}


@model Textile
<div class="container">
    <form method="post">
        <input type="hidden" value="@Model.Id" />
        <input type="hidden" value="@Model.Textileid" />

        <table class=" table table-bordered">
            <thead class="bg-primary text-lg-center">EDIT TEXTILE HERE</thead>
            <tbody>
                <tr>
                    <th>Description:</th>
                    <td><input asp-for="Description" class="form-control" /></td>
                </tr>
                <tr>
                    <th>Locale:</th>
                    <td><input asp-for="Locale" class="form-control" /></td>
                </tr>
                <tr>
                    <th>Burial Number:</th>
                    <td><input asp-for="Burialnumber" class="form-control" /></td>
                </tr>
                <tr>
                    <th>Estimated Period:</th>
                    <td><input asp-for="Estimatedperiod" class="form-control" /></td>
                </tr>
                <tr>
                    <th>Direction:</th>
                    <td><input asp-for="Direction" class="form-control" /></td>
                </tr>
                <tr>
                    <th>Photographed Date:</th>
                    <td><input asp-for="Photographeddate" class="form-control" /></td>
                </tr>
            </tbody>
        </table>

        <div class="text-center">
            <button asp-controller="Home" asp-action="Summary">Return to Summary</button>
            <button type="submit" class="btn btn-primary">Confirm Changes</button>
        </div>
    </form>
</div>
