@using UserManagement.MVC.Models
@using Microsoft.AspNetCore.Http
@using UserManagement.MVC.Views.Components

@{
    ViewData["Title"] = "Summary";
}

@model BurialMainViewModel

<partial name="SummaryWelcome" />


<div>
    <center>
        <button id="btn_bur" type="button" onclick="showBurials()" class="btn-lg btn-primary mr-2">Burials</button>
        <button id="btn_tex" type="button" onclick="showTextile()" class="btn-lg btn-outline-secondary">Textile</button>
    </center>
</div>
<div id="burial-container" class="mt-4">
    <div>
        <center>
            <h1 style="color: #DDC82A">FAG EL-GAMOUS BURIALS</h1>
        </center>

    </div>
    <div id="main_sum">
        <div class="row m-1 p-1">
            <div id="types" class="col-3">
                <vc:types></vc:types>
            </div>
            <div class="col-9">
                <div page-model="@Model.pageInfo" page-action="Summary" page-class-normal="btn-outline-red" page-class-selected="btn-primary" page-class-enabled="true"></div>
                <a asp-controller="Home" asp-action="NewBurial" class="btn btn-primary">Add</a>

                @foreach (Burialmain bm in Model.burialmains)
                {
                    <partial name="BurialSummary" model="bm" />
                }
                <div page-model="@Model.pageInfo" page-action="Summary" page-class-normal="btn-outline-red" page-class-selected="btn-primary" page-class-enabled="true"></div>
            </div>
        </div>
    </div>
</div>

<div id="textile-container" class="mt-4" style="display:none;">
    <div>
        <center>
            <h1 style="color: #DDC82A">FAG EL-GAMOUS TEXTILES</h1>
        </center>
    </div>
    <div id="textile_sum">
        <div class="">
            <div><center><partial name="TextileSummary" /></center></div>
        </div>
    </div>
</div>

<script>
    function showBurials() {
        document.getElementById("burial-container").style.display = "block";
        document.getElementById("textile-container").style.display = "none";
        document.getElementById("btn_bur").className = "btn-lg btn-primary mr-2";
        document.getElementById("btn_tex").className = "btn-lg btn-outline-secondary";
    }

    function showTextile() {
        document.getElementById("burial-container").style.display = "none";
        document.getElementById("textile-container").style.display = "block";
        document.getElementById("btn_tex").className = "btn-lg btn-primary mr-2";
        document.getElementById("btn_bur").className = "btn-lg btn-outline-secondary";

        var section = new URLSearchParams(window.location.search).get('section');
        if (section === "textile") {
            document.getElementById("btn_tex").click();
        }
    }
</script>
