@using UserManagement.MVC.Models
@using Microsoft.AspNetCore.Http
@using UserManagement.MVC.Views.Components

@{
    ViewData["Title"] = "Summary";
}

@model BurialMainViewModel

<script>
    const selector = document.getElementById("summary-select");
    const burialContainer = document.getElementById("burial-container");
    const textileContainer = document.getElementById("textile-container");

    selector.addEventListener("change", () => {
        if (selector.value === "Burials") {
            burialContainer.style.display = "block";
            textileContainer.style.display = "none";
        } else {
            burialContainer.style.display = "none";
            textileContainer.style.display = "block";
        }
    });
</script>
<partial name="SummaryWelcome" />
<div>
    <select id="summary-select">
        <option value="Burials">Burials</option>
        <option value="Textile">Textile</option>
    </select>
</div>
<div id="burial-container">
    <div id="main_sum">
        <div class="row m-1 p-1">
            <div id="types" class="col-3">
                <vc:types></vc:types>
            </div>
            <div class="col-9">
                <div page-model="@Model.pageInfo" page-action="Summary" page-class-normal="btn-outline-red" page-class-selected="btn-primary" page-class-enabled="true"></div>

                @foreach (Burialmain bm in Model.burialmains)
                {
                    <partial name="BurialSummary" model="bm" />
                }
                <div page-model="@Model.pageInfo" page-action="Summary" page-class-normal="btn-outline-red" page-class-selected="btn-primary" page-class-enabled="true"></div>
            </div>
        </div>
    </div>
</div>

<div id="textile-container" style="display: none;">
    <div id="textile_sum">
        <div class="row m-1 p-1">
            <div id="types" class="col-3">
                <vc:textiles></vc:textiles>
            </div>
            <div class="col-9">
                <div page-model="@Model.pageInfo" page-action="Summary" page-class-normal="btn-outline-red" page-class-selected="btn-primary" page-class-enabled="true"></div>

                @foreach (Textile t in Model.textiles)
                {
                    <partial name="TextileSummary" model="t" />
                }
                <div page-model="@Model.pageInfo" page-action="Summary" page-class-normal="btn-outline-red" page-class-selected="btn-primary" page-class-enabled="true"></div>
            </div>
        </div>
    </div>
</div>
